@charset "UTF-8";

.inner {
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
}

.latest-recipes-title {
	margin-bottom: 20px;
}

.latest-recipe-box {
	display: flex;
	justify-content: space-between;
}

.recipe {
	margin-right: 20px;
}

.recipe:last-child  {
	margin-right: 0px;
}